body{
    background-color: lightsteelblue;
    flex: 1;
}
.container{
    background-color: rgb(90, 89, 89);
    width: fit-content;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 5rem;
    padding: 1rem;
}
.operands{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 0.5rem;
    min-width: 30rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}
.operand{
    width: 5rem;
    text-align: center;
    font-size: 1.2rem;
}
#calculate-btn{
    width: 7rem;
    height: 1.8rem;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid transparent;
}
#calculate-btn:hover{
    cursor: pointer;
    background-color: rgb(143, 138, 138);
    color: white;
    border: 1px solid white;
}

.display{
    display: none;
    width: fit-content;
    height: fit-content;
    color: white;
    border: 1px solid lightgray;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    margin-top: 2rem;
}
.display-visible{
    display: flex;
}
.records-block{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    padding: 0;
}

ul{
width: fit-content;
/* background-color: rgb(180, 169, 169); */
color: white;
min-height: 2rem;
min-width: 30rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.2rem;
}

li{
    min-width: 32rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;   
    font-size:1rem;
    margin-bottom: 0.5rem;
    border: 1px solid white;
    border-radius: 3px;
    margin: auto;
    padding: 2px;
}
.text-highlight {
    color: greenyellow;
    font-weight: bold;
    margin-right: 0.2rem;
}
p{
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}
#delete-record-btn{
    background: lightgrey;
    border-radius: 3px;
    border: 1px solid transparent;
}
#delete-record-btn:hover{
    background: rgb(242, 235, 235);
    color: red;
    border-radius: 3px;
    border: 1px solid red;
}


footer{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
