body{
    background-color: rgb(1, 80, 1);
    flex: 1;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    color: greenyellow;
}
.container{
    background-color: rgb(90, 89, 89);
    /* width: max-content; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 5rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 12px;
}
.operands{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 0.5rem;
    min-width: 30rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}
.operand{
    width: 5rem;
    text-align: center;
    font-size: 1.2rem;
}
#calculate-btn{
    width: 7rem;
    height: 1.8rem;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid transparent;
}
#calculate-btn:hover{
    cursor: pointer;
    background-color: rgb(143, 138, 138);
    color: white;
    border: 1px solid white;
}

.display{
    display: none;
    width: fit-content;
    height: fit-content;
    color: white;
    border: 1px solid lightgray;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    margin-top: 2rem;
}
.display-visible{
    display: flex;
}
.records-block{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    padding: 0;
}

ul {
    width: fit-content;
    background-color: rgb(180, 169, 169);
    color: white;
    min-height: 2rem;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns list items to the left */
    justify-content: center;
    gap: 0.2rem;
    padding: 0; /* Removes padding to prevent unintended spacing */
}

li {
    background: black;
    width: 37rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;   
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 3px;
    margin:auto;
    padding: 0.1rem;
    box-sizing: border-box;
}
p{
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
}
#itemLabel{
    color: greenyellow;
}

#delete-record-btn{
    background: lightgrey;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 0.7rem;
    font-weight: bold;
}
#delete-record-btn:hover{
    background: rgb(242, 235, 235);
    color: red;
    border-radius: 3px;
    border: 1px solid red;
}

footer{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.btn-container{
    /* display: none; */
    background-color: lightgray;
    padding: 0.2rem;
    border-radius: 6px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.1rem;
}
.btn{
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 2px;
}
.clear, .delete {
    grid-column: span 2;
    width: 6.1rem;
}
.enter {
    grid-column: span 4;
    width: 12.3rem;
}
.decimals{
    grid-column: span 2;
    width: 6.1rem;
}
.keyboard-btn-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#keyboard-btn{
    border-radius: 3px;
}
.isVisible{
    display: flex;
}
.isHide{
    display: none;
}


